@{
    ViewData["Title"] = "About Us";
}
<h2>Application Details:</h2>
<hr/>
<div>
    <p>
        Our application <strong>USF Trading</strong> provides some basic stock information about the companies listed in NASDAQ and NYSE.  For doing so, we explored various API’s available on IEX Trading website.<br>
        <br>
        <strong>From the Company tab, user can see details like:</strong><br>
        Company symbol, Company name, Exchange, Industry, Description, CEO, Sector, Gainer/Loser for the top 10 gaining and losing companies.<br>
        <br>
        <strong>From the Sector-Analysis tab, user can see details like:</strong><br>
        Performance in different sectors in terms of % change of the sector for the trading day.<br>
        <br>
        <strong>From the Key-Stats tab, user can see details like:</strong><br>
        Company Name, Market-cap which is Market cap of the security calculated as shares outstanding * previous day close. Week52high, Week52low, Week52change that is the highest, lowest and change at which a stock has traded in the current year.<br>
        <br>
        <strong>From the Top-Stock-tab, user can see details like:</strong><br>
        Company symbol, Closing Price, Previous Close, Change, Change % and Market Capital for top gaining companies. Closing price refers to last price at which a stock trades during a regular trading session. Previous refers to closing price of any stock on the preceding day of trading. Market capital refers to the total value of all a company's shares of stock.<br>

        <h2>Team Members:</h2>
        For creating this application, we worked in the group of 3. Our group included Ankit Gadawe, Deepanshu Mahajan and Manoj Angane.<br>

        <h2>GitHub:</h2>
        <a href="https://github.com/Manoj-Angane/USFTrading">GitHub</a>
    </p>
</div>