@{
    ViewData["Title"] = "Index";
}

<h2>USF Trading</h2>
<hr />
<h3 align="center"><i>Invest for the long term.<br />
Choose a fund family with a history of superior returns. <br />
USF Trading has helped investors like you pursue their retirement goals.</i></h3>
<div>
    <p>
        <br />
        <br />

        This application let's you fetch trading data from IEX via their public <a href="https://iextrading.com/developer/">API</a>.
        <br />
        <br />
        The <a asp-area="" asp-controller="Home" asp-action="Company">Company</a> tab fetches Company data of top gainers and losers from the
        <a href="https://iextrading.com/developer/docs/#reference-data">IEX Reference API </a> and displays the results.
        This data can also be saved in the local database.
        <br />
        The <a asp-area="" asp-controller="Home" asp-action="SectorAnalysis">SectorAnalysis</a> provide sector analysis of each sector.
        <a href="https://iextrading.com/developer/docs/#stocks">IEX Stock API</a>.
        The data can also be saved in the local database.
        <br />
        The <a asp-area="" asp-controller="Home" asp-action="KeyStatGainers">KeyStatGainers</a> provide key statistics of top gainer.
        <a href="https://iextrading.com/developer/docs/#stocks">IEX Stock API</a>.
        The data can also be saved in the local database.
        <br />
        The <a asp-area="" asp-controller="Home" asp-action="KeyStatLosers">KeyStatLosers</a> provide key statistics of top gainer.
        <a href="https://iextrading.com/developer/docs/#stocks">IEX Stock API</a>.
        The data can also be saved in the local database.
        <br />
        The <a asp-area="" asp-controller="Home" asp-action="TopStock">TopTenStock</a> provide current stock detail details given by top gainer.
        <a href="https://iextrading.com/developer/docs/#stocks">IEX Stock API</a>.
        The data can also be saved in the local database.
    </p>
    <p>
        Following learning objectives are fulfilled -
        <ul>
            <li>Connection to REST API.</li>
            <li>Connection to database.</li>
            <li>CRUD operations.</li>
        </ul>
    </p>
</div>